.custom-color {
  color: #444;
}
.custom-button-element {
  display: inline-block;
  margin-right: 15px;
}
.custom-button-element a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  color: #fff!important;
  background: #db6e35!important;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .02em;
  line-height: 1.2;
  padding: 10px 20px 10px!important;
  border-radius: 200px!important;
  text-align: center;
  transition: all ease .3s;
  border: none!important;
}
.custom-button-element.white a {
  color: #000!important;
  background: #e0e0e0!important;
}
.custom-button-element a[data-mce-selected] {
  background: #7e8782!important;
  border: none!important;
  box-shadow: 0 0 0 2px #bfe6ff;
}
.custom-button-element.white a[data-mce-selected] {
  background: #dcdcdc!important;
}

