div,h1,h2,h3,h4,h5,h6,p,li,a,span,strong {
	overflow-wrap: normal;
	word-wrap: normal;
	-ms-word-break: normal;
	word-break: normal;
	word-break: normal;
	-ms-hyphens: none;
	-moz-hyphens: none;
	-webkit-hyphens: none;
	hyphens: none;
	page-break-inside: avoid;
  }
  html, body, *, ::before, ::after  {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
  }
  a,input,button,textarea {
	transition: all ease .3s;
  }
  a {
	color: $primary;
	&:hover {
	  text-decoration: none;
	}
  }
  .sr, .sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
	color: #fff;
	background: #000;
	display:inline-block;
  }
  body {
	font-size: 16px;
	color: $blue;
	line-height: 1.5;
	background-color: #FFF!important;
  }

  h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
	line-height: 1.2;
  }
  h2 {font-size: 42px;}
  h3 {font-size: 38px;}
  h4 {font-size: 35px;}
  h5 {font-size: 30px;}
  h6 {font-size: 28px;}

  .wp-element-button,
  .wp-block-button__link,
  .wp-block-button.orange-button .wp-element-button,
  .wp-block-button.orange-button .wp-block-button__link {
	background-color: #db6e35;
	font-size: 16px;
	font-weight: 700;
	border-radius: 200px;
	letter-spacing: .06em;
	padding: 10px 25px 10px;
	transition: all ease .3s;
	&:hover, &:focus {
	  color: #223E60!important;
	  background-color: #D1D374!important;
	  box-shadow: 0 10px 20px rgba(0,0,0,.11);
	}
  }

  .site {
	overflow: hidden;
  }

  .skip-link {
	display: inline-block;
	text-decoration: none;
	padding: 8px 15px;
	color: #FFF;
	background: #000;
	border-radius: 6px;
	position: absolute;
	top: -80vh;
	left: 10px;
	box-shadow: 0 5px 16px rgba(0,0,0,0.25);
	z-index: -999;
	opacity: 0;
	&:focus {
	  top: 10px;
	  z-index: 9999;
	  opacity: 1;
	}
  }

  .wrapper {
	// max-width: 1400px;
	width: 100%;
	margin: 0 auto;
	// padding-left: 20px;
	// padding-right: 20px;
  }
  div.wp-site-blocks {
	margin-top: 0;
	position: relative;
  }

  header.wp-block-template-part {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	.header-content {
	  padding: 0 0;
	  max-width: 100%;
	  width: 100%;
	  margin: 0 auto;
	  position: absolute;
	  top: 0;
	  left: 0;
	  background-color: transparent!important;
	  .wp-block-group.header-row-container {
		max-width: 100%!important;
		width: 100%!important;
		background-color: transparent!important;
		padding: 20px 0!important;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 0;
	  }
	  .wp-block-site-logo,
	  .wp-block-group.siteNavigation {
		width: 50%;
		width: 50%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	  }
	  .wp-block-group.siteNavigation {
		ul.wp-block-navigation__container {
		  display: flex;
		  justify-content: space-evenly;
		  gap: 4rem;
		}
	  }
	}
	.siteNav.wp-block-navigation {
	  .wp-block-navigation-item > a {
		font-family: $font_secondary;
		text-transform: uppercase;
		font-size: 25px;
		font-weight: 400;
		line-height: 1.2;
		color: #FFF;
	  }
	}
  }

  .homeSection8 {
	padding-top: 100px!important;
	padding-bottom: 100px!important;
	margin: 0 0!important;
	.titleDiv {
	  padding-bottom: 0;
	  h3, h2 {
		font-weight: 500;
	  }
	}
  }

  .stepsColumn {
	height: 0;
	margin: 0 0!important;
	padding: 0 0!important;
	min-height: 0!important;
	overflow: hidden;
	visibility: hidden;
  }
  .stepsContent {
	margin-top: 0!important;
	.stepsInner {
	  display: flex;
	  flex-wrap: wrap;
	  .wp-block-column {
		width: 33.333%;
		padding: 10px;
		align-self: unset;
		flex-basis: unset!important;
		background-color: transparent!important;
		.wrap {
		  max-width: 100%!important;
		  width: 100%;
		  height: 100%!important;
		  margin: 0 0!important;
		  background-color: #3689B4;
		  display: flex;
		  flex-wrap: wrap;
		  align-items: center;
		  justify-content: center;
		  padding: 50px 50px;
		  .flex {
			width: 100%;
		  }
		}
		h2.wp-block-heading {
		  font-size: 4rem;
		  font-weight: 400;
		  line-height: 1;
		  letter-spacing: 0.03em;
		}
		.wp-block-heading {
		  margin: 0 0 20px;
		}
		p {
		  font-size: 1.2rem;
		  line-height: 1.2;
		}
	  }
	  .wp-block-column:first-child {
		.wrap {
		  border-bottom-left-radius: 150px;
		}
	  }
	  .wp-block-column.last {
		.wrap {
		  border-top-right-radius: 150px;
		}
	  }
	}
  }

  main.wp-block-group {
	padding-top: 0;
	margin-top: 0;
  }
  body.home h1.wp-block-post-title {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
	color: #fff;
	background: #000;
	display:inline-block;
  }
  body.home {
	main.wp-block-group {
	  overflow: hidden;
	}
	main.wp-block-group,
	.entry-content {
	  padding: 0 0!important;
	  margin: 0 auto!important;
	  max-width: 100%!important;
	  width: 100%!important;
	}
	.entry-content .wp-block-group.alignfull {
	  margin-top: 0!important;
	  margin-bottom: 0!important;
	}
  }

  .homeSection1 {
	height: 100vh;
	background-color: transparent!important;
	position: relative;
	margin-right: 0!important;
	margin-left: 0!important;
	&:before {
	  display: inline-block;
	  content:"";
	  width: 0;
	  height: 0;
	  border-left: 100px solid #FFF;
	  border-top: 50px solid transparent;
	  border-bottom: 50px solid transparent;
	  position: absolute;
	  top: 40%;
	  left: 0;
	  transform: translateY(-50%);
	  animation-fill-mode: both;
	  animation-duration: 0.5s;
	  animation-name: homeArrowLeft;
	  z-index: 10;
	}
	h2 {
	  font-family: $font_secondary!important;
	  font-size: 9.2vw!important;
	  font-weight: 500!important;
	  line-height: 1;
	}
	.wp-block-group.column.left {
	  display: flex;
	  flex-wrap: wrap;
	  align-items: center;
	  justify-content: flex-end;
	}
	.leftTitle {
	  max-width: auto!important;
	  width: auto!important;
	  padding: 0 0!important;
	  margin: 0 0!important;
	  display: flex;
	  flex-wrap: wrap;
	  flex-direction: column;
	  align-items: flex-start;
	}
	.section-inner.alignfull {
	  display: flex;
	  flex-wrap: wrap;
	  justify-content: unset;
	  align-items: unset;
	  max-width: 100%!important;
	  width: 100%!important;
	  position: relative;
	  height: 100%;
	  background-color: transparent!important;
	  &:before, &:after {
		content:"";
		display: block;
		width: 50%;
		height: 100%;
		position: absolute;
		top: 0;
		animation-duration: 1s;
		animation-fill-mode: both;
	  }
	  &:before {
		left: 0;
		background: #3689B4;
		animation-name: fadeInLeft;
	  }
	  &:after {
		right: 0;
		background: #223E60;
		animation-name: fadeInRight;
	  }
	}
	.wp-block-group.column {
	  width: 50%;
	  height: 100vh;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  position: relative;
	  z-index: 5;
	  // h2 {
	  //   display: inline-block;
	  //   font-family: $font_secondary!important;
	  //   font-size: 8rem!important;
	  //   font-weight: 400!important;
	  // }
	  &.left {
		text-align: right;
		padding-right: 30px;
		.wp-block-group {
		  position: relative;
		}
	  }
	  &.right {
		padding-left: 30px;
		justify-content: flex-start;
		.wp-block-group {
		  display: flex;
		  flex-wrap: wrap;
		  justify-content: flex-start;
		  align-items: flex-end;
		  position: relative;
		  h2 {
			display: inline-block;
			position: relative;
			margin: 0 0!important;
			position: absolute;
			left: 0;
			bottom: 0;
			width: auto!important;

			&:after {
			  content:"";
			  display: block;
			  width: 0%;
			  height: 6px;
			  opacity: 0;
			  background: #FFF;
			  animation-fill-mode: both;
			  animation-duration: 0.5s;
			  animation-delay: 2s;
			  animation-name: homeColRightLine;
			}
		  }
		  .wp-block-buttons {
			display: flex;
			width: 100%;
			justify-content: flex-start;
			.inner-wrapper {
			  display: flex;
			  justify-content: flex-end;
			  gap: 1.2em;
			}
			.wp-block-button {
			  margin-top: 20px;
			}
			.wp-block-button__link {
			  font-size: 16px;
			  font-weight: 700;
			  letter-spacing: 0.05em;
			  padding: 10px 20px 8px;
			}
		  }
		}
	  }
	}
  }

  .homeSection2 {
	position: relative;
	overflow: hidden;
	background-color: #FFF!important;
	margin: 0 0!important;
	.wp-block-group {
	  background-color: #FFF!important;
	}
	.wp-block-columns {
	  display: flex;
	  flex-wrap: wrap;
	  gap: 0;
	  width: 100%;
	  height: 100vh;
	  position: relative;
	  .wp-block-column {
		padding: 0 0!important;
	  }
	  .wp-block-image.size-large {
		display: flex;
		justify-content: center;
	  }
	  h2.wp-block-heading {
		font-family: $font_secondary!important;
		font-weight: 400!important;
		font-size: 10vh!important;
		line-height: 1.2;
		margin: 0 0 40px;
		strong {
		  display: inline-block;
		  font-family: $font_secondary!important;
		  font-weight: 500!important;
		  border-bottom: 7px solid #FFF;
		}
	  }
	  .leftCol {
		align-content: center;
		align-items: center;
		position: relative;
		.wp-block-image.size-large {
		  padding: 0 40px;
		  width: 100%;
		}


		.wp-block-heading {
		  padding: 2vw 5vw 5vw;
		  display: inline-block;
		  text-align: right;
		  margin: 0 0;
		  color: #6DAF93;
		  position: relative;
		  top: -3vw;
		  strong {
			display: inline-block;
			position: relative;
			border-bottom: 7px solid #6DAF93;
			&:before {
			  content: "";
			  display: block;
			  width: 0;
			  height: 0;
			  border-left: 50px solid #db6e35;
			  border-top: 25px solid transparent;
			  border-bottom: 25px solid transparent;
			  position: absolute;
			  left: -100px;
			  top: 20px;
			}
		  }
		}
		.wp-block-group {
		  color: #6DAF93;
		  margin: 0 0 30px;
		  display: flex;
		  flex-wrap: wrap;
		  justify-content: center;
		  align-content: center;
		}
	  }
	  .rightCol {
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
		padding: 5vw;
		border-bottom-left-radius: 250px;
		position: relative;
		.wp-block-group {
		  background-color: transparent!important;
		}
		.rightColWrap {
		  padding: 80px 8vw!important;
		}
		&:before {
		  content:"";
		  display: block;
		  width: 100%;
		  height: 280px;
		  position: absolute;
		  top: 3vw;
		  right: 0;
		  background-image: url('assets/images/decoration/connect.svg');
		  background-size: contain;
		  background-position: right center;
		  background-repeat: no-repeat;
		}
		h2 {
		  color: #FFF;
		}
	  }

	}
  }

  .homeSection3 {
	padding-top: 70px;
	padding-bottom: 70px;
	margin-right: 0!important;
	margin-left: 0!important;
	position: relative;
	overflow: hidden!important;
	&:before {
	  content:"";
	  display: block;
	  width: 0;
	  height: 0;
	  border-right: 75px solid #8DCEB6;
	  border-top: 40px solid transparent;
	  border-bottom: 40px solid transparent;
	  position: absolute;
	  top: 20%;
	  right: 0;
	  // transform: translateY(-50%);
	  z-index: 10;
	}
	.wp-block-group {
	  background-color: #FFF!important;
	}
	.wrapper,
	.ourWorkGallery,
	.wp-block-gallery {
	  max-width: 100%!important;
	  width: 100%;
	}
	.wrapper {
	  position: relative;
	}
	.wp-block-gallery {
	  gap: 0;
	}
	.ourWorkGallery {
	  margin: 0 0;
	  padding-right: 13vw;
	  padding-left: 8px;
	  .wp-block-gallery {
		padding: 0;
		overflow: hidden;
	  }
	  figure {
		margin: 0 0!important;
		img {
		  border: 10px solid #FFF;
		}
		&.border-top-radius {
		  img {
			border-top-right-radius: 150px;
		  }
		}
	  }
	}

	.titleDiv {
	  position: absolute;
	  top: 40vh;
	  right: 0;
	}

	h2.wp-block-heading {
	  font-size: 7vw;
	  font-weight: 400;
	  color: #BBBDBF;
	  transform: rotate(90deg);
	}
  }

  .homeSection4 {
	margin-right: 0!important;
	margin-left: 0!important;
	position: relative;
	&:before {
	  display: inline-block;
	  content: "";
	  width: 0;
	  height: 0;
	  border-left: 100px solid #fff;
	  border-top: 50px solid transparent;
	  border-bottom: 50px solid transparent;
	  position: absolute;
	  top: 50%;
	  left: 0;
	  transform: translateY(-50%);
	  z-index: 10;
	}
	.titleWrap {
	  display: flex;
	  flex-wrap: wrap;
	  align-items: flex-end;
	  padding-right: 40px;
	  .wp-block-heading {
		width: 100%;
		font-weight: 500!important;
		line-height: 1.2;
		margin: 0 0!important;
		text-align: right;
	  }
	}
	.solutionsBlock {
	  display: flex;
	  align-items: flex-end;
	  .wp-block-columns {
		display: flex;
		flex-wrap: wrap!important;
	  }
	  .wp-block-column {
		width: 15vw;
		height: 15vw;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;
		flex-grow: unset;
		flex-basis: unset;
		&.rounded-top {
		  border-top-left-radius: 70px;
		}
		&.rounded-bottom {
		  border-bottom-right-radius: 70px;
		}
		.wp-block-heading {
		  width: 100%;
		  letter-spacing: 0.03em!important;
		  // font-size: 4rem;
		  // font-weight: 500;
		}
	  }
	  .wp-block-columns:not(:first-child) {
		.wp-block-column {
		  align-items: flex-start;
		}
	  }
	}
  }
  .homeSection5 {
	background-color: #FFF!important;
	.wrapper {
	  max-width: 1600px;
	  width: 100%;
	  margin: 0 auto;
	}
	.wp-block-heading,
	.wp-block-gallery {
	  max-width: 100%!important;
	  width: 100%!important;
	}
	.wp-block-gallery {
	  gap: 0;
	  display: flex;
	  flex-wrap: wrap;
	  justify-content: center;
	  .wp-block-image {
		position: relative;
		overflow: hidden;
		width: 20%!important;
		flex-basis: unset!important;
		flex-grow: unset!important;
		box-sizing: border-box;
		padding: 15px;
		@media screen and (max-width: 900px) {
		  width: 25%!important;
		}
		@media screen and (max-width: 480px) {
		  width: 50%!important;
		}
	  }
	  .inner {
		background-color: #e6e7e8;
		border-radius: 100%;
	  }
	  img.helper {
		width: 100%;
		height: auto;
		float: left;
	  }
	  img:not(.helper) {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 70%!important;
		height: 70%!important;
		object-fit: contain!important;
		object-position: center!important;
		z-index: 5;
		transform: translateX(-50%) translateY(-50%);
	  }
	}
  }

  .homeSection6 {
	margin-left: 0!important;
	margin-right: 0!important;
	overflow: hidden;
	background-color: #FFF!important;
	padding-bottom: 2vw!important;

	.wrapper {
	  max-width: 100%!important;
	  width: 100%!important;
	  margin-left: 0!important;
	  margin-right: 0!important;
	  padding: 0 0!important;
	  position: relative;
	  display: flex;
	  flex-wrap: wrap;
	  justify-content: flex-end;
	}
	.titleOuterDiv {
	  position: absolute;
	  left: 0;
	  bottom: 25%;
	}
	.titleDiv {
	  position: absolute;
	  bottom: 0;
	  left: -5vw;
	  transform-origin: center;
	  transform: translateY(-25%) rotate(-90deg);
	}
	.contentDiv {
	  width: 100%!important;
	  padding: 0 0 0 20vw!important;
	  background-color: #FFF!important;
	  .innerwrap {
		margin: 0 0!important;
		max-width: 100%!important;
		width: 100%!important;
		padding: 15vw 10vw!important;
		border-bottom-left-radius: 200px;
		min-height: 80vh;
	  }
	}
	h2.wp-block-heading {
	  padding-left: 110px;
	  font-size: 8vw!important;
	  line-height: 1!important;
	  margin: 0 0!important;
	  position: relative;
	  top: 0;
	  &:before {
		content:"";
		display: inline-block;
		width: 0;
		height: 0;
		border-top: 85px solid #DB6E35;
		border-left: 40px solid transparent;
		border-right: 40px solid transparent;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
	  }
	}
	h3.wp-block-heading {
	  position: absolute;
	  top: 1vw;
	  right: -8.5vw;
	  line-height: 1!important;
	  margin: 0 0!important;
	  transform: rotate(90deg);
	  font-weight: 500;
	  letter-spacing: 0.03em;
	}
  }

  .homeSection7 {
	.blueSection {
	  border-top-right-radius: 250px;
	}
  }
  .homeSection8 {
	background-color: #FFF!important;
	margin-left: 0!important;
	margin-right: 0!important;
	.stepsBlock.wp-block-columns {
	  display: flex;
	  flex-wrap: wrap!important;
	  gap: 0;
	  box-sizing: border-box;
	  .wp-block-column {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		width: 33.333%;
		padding: 10px;
		flex-basis: unset!important;
		flex-grow: unset!important;
		.wp-block-group {
		  width: 100%;
		  display: flex;
		  height: 100%;
		  flex-wrap: wrap;
		  justify-content: center;
		  align-items: center;
		}
		.wp-block-heading, p {
		  width: 100%;
		}
	  }
	}
  }

  footer.wp-block-template-part {
	p {
	  color: #58595b;
	  font-weight: 600;
	  line-height: 1.7;
	}
	nav.wp-block-navigation {
	  margin-left: -15px;
	  margin-right: -15px;
	  ul > li {
		margin: 5px 15px;
	  }
	  ul a {
		color: #58595b!important;
		font-weight: 600;
		letter-spacing: 0.1em;
		line-height: 1.7;
		&:hover, &:focus {
		  color: #db6e35!important;
		}
	  }
	}
  }

  @keyframes homeColRightLine {
	from {
	  opacity: 0;
	  width: 0%;
	}
	to {
	  opacity: 1;
	  width: 100%;
	}
  }

  @keyframes homeArrowLeft {
	from {
	  transform: translateX(-100vw);
	}
	to {
	  transform: translateX(0);
	}
  }

  body:not(.home) {
	.mesh-loader {
	  display: none;
	}
  }

  @media screen and (max-width: 1480px) {
	.homeSection3 {
	  &:before {
		border-right: 55px solid #8dceb6;
		border-top: 30px solid transparent;
		border-bottom: 30px solid transparent;
	  }
	  .ourWorkGallery {
		padding-right: 14vw;
	  }
	  h2.wp-block-heading {
		font-size: 8vw!important;
	  }
	}
	.homeSection5 .wp-block-gallery {
	  padding-left: 30px;
	  padding-right: 30px;
	}
	.homeSection6 .contentDiv {
	  padding-left: 18vw!important;
	}
	.homeSection6 .titleDiv {
	  left: -10vw;
	}
  }

  header.wp-block-template-part {
	button[aria-label="Open menu"] {
	  display: none;
	  width: 40px;
	  height: 40px;
	  svg {
		display: none;
	  }
	  span.bar {
		display: inline-block;
		width: 100%;
		height: 3px;
		background: #FFF;
		position: absolute;
		top: 19px;
		left: 0;
		transform: scale(0.8);
		&:before, &:after {
		  content:"";
		  display: block;
		  width: 100%;
		  height: 3px;
		  background: #FFF;
		  position: absolute;
		  top: 0;
		  left: 0;
		}
		&:before {
		  top: -12px;
		}
		&:after {
		  top: 12px;
		}
	  }
	}
  }

  @media screen and (max-width: 1200px) {
	.homeSection6 h3.wp-block-heading {
	  right: -12.5vw;
	}
	.homeSection6 .contentDiv {
	  padding-left: 15vw!important;
	}
	.homeSection4 {
	  .wp-block-columns:not(.solutionsInner) {
		display: flex;
		flex-wrap: wrap!important;
		max-width: 100%!important;
		gap: 0;
		margin: 0 0;
		.wp-block-column {
		  width: 50%;
		  flex-basis: unset;
		  flex-grow: unset;
		}
	  }
	  .wp-block-columns.solutionsInner {
		gap: 10px;
		margin: 10px 0;
		.wp-block-column {
		  width: calc(50% - 20px);
		}
	  }
	  .solutions-content {
		max-width: 100%!important;
		width: 100%!important;
	  }
	}
  }


  .mobileNavigation {
	display: none;
  }

  @media screen and (max-width: 960px) {
	.homeSection1 {
	  &:before {
		display: none;
	  }
	  h2 {
		font-size: 22vw !important;
	  }
	  .section-inner {
		gap: 0;
		display: flex;
		flex-wrap: wrap;
		&:before, &:after {
		  display: none!important;
		}
		.wp-block-group.column {
		  background-color: #3689b4!important;
		  width: 100%!important;
		  height: 50vh!important;
		  justify-content: center;
		  align-items: flex-end;
		  padding: 0 0!important;
		  &.right {
			background-color: #223E60!important;
			align-items: flex-start;
			.wp-block-group {
			  height: auto!important;
			  text-align: center;
			  justify-content: center!important;
			}
			.wp-block-heading {
			  position: relative!important;
			  top: 0;
			  &:after {
				position: relative;
				top: 5px;
			  }
			}
		  }
		}
	  }
	  .wp-block-buttons {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center!important;
		margin:30px auto 0!important;
		gap: 0;
		.inner-wrapper {
		  gap: 0;
		  justify-content: center!important;
		}
	  }
	}

	.stepsContent .stepsInner .wp-block-column {
	  width: 100%!important;
	  .wrap {
		border-radius: 0!important;
	  }
	}

	.homeSection7 .blueSection {
	  padding-top: 20vw!important;
	  padding-bottom: 30px!important;
	  padding-left: 30px!important;
	  padding-right: 30px!important;
	  display: flex;
	  flex-wrap: wrap;
	  align-items: center;
	  justify-content: center;
	  // .wp-block-heading {
	  //   text-align: center;
	  // }
	  .wp-block-image {
		margin: 0 auto!important;
		img {
		  width: 50vw!important;
		  height: auto;
		}
	  }
	}

	header.wp-block-template-part {
	  button[aria-label="Open menu"] {
		display: block;
	  }
	  .wp-block-navigation  {
		.wp-block-navigation__responsive-container {
		  display: none;
		}
	  }
	  .wp-block-navigation__responsive-container-open:not(.always-shown) {
		display: block;
	  }
	  .wp-block-site-logo,
	  .wp-block-group.siteNavigation {
		width: 100%!important;
	  }
	}

	footer.wp-block-template-part {
	  .wp-block-columns {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		.wp-block-column {
		  display: flex;
		  align-items: center;
		  justify-content: center;
		  text-align: center;
		  nav {
			width: 100%;
			margin: 0 0!important;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			gap: 0;
		  }
		}
	  }
	}

	.closeMobileNav {
	  display: block;
	  width: 30px;
	  height: 30px;
	  border: none;
	  box-shadow: none;
	  border-radius: 0;
	  background-color: transparent;
	  position: absolute;
	  top: 20px;
	  right: 20px;
	  z-index: 50;
	  &:before, &:after {
		content:"";
		display: block;
		width: 100%;
		height: 2px;
		background: #000;
		position: absolute;
		top: 14px;
		left: 0;
	  }
	  &:before {
		transform: rotate(45deg);
	  }
	  &:after {
		transform: rotate(-45deg);
	  }
	}
	button[aria-label="Close menu"] {
	  display: none!important;
	}
	.mobileNavigation {
	  display: block;
	  position: fixed;
	  top: 0;
	  right: 0;
	  max-width: 100%;
	  width: 100%;
	  height: 100%;
	  background: rgba(255,255,255,.95);
	  z-index: 9999;
	  margin: 0 0;
	  display: none;
	  animation-fill-mode: both;
	  animation-duration: 0.5s;
	  transition: all ease .3s;
	  .wp-block-navigation__responsive-close,
	  .wp-block-navigation__responsive-dialog,
	  .wp-block-navigation__responsive-container-content {
		height: 100%;
	  }
	  .wp-block-navigation__responsive-container-content {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	  }

	  ul.wp-block-navigation {
		display: block;
		padding-top: 30px;
		li {
		  display: block;
		  width: 100%;
		  text-align: center;
		}
		a {
		  display: block;
		  padding: 10px 20px;
		  font-family: $font_secondary;
		  font-size: 2.65rem;
		  line-height: 1.2;
		  text-transform: uppercase;
		  letter-spacing: 0.03em;
		}
	  }

	  &.fadeInUp {
		top: -100vw;
	  }
	  &.active {
		display: block;
		animation-name: fadeInDown;
	  }
	}
  }


  @media screen and (max-width: 820px) {
	.homeSection3 {
	  &:before {
		display: none;
	  }
	  .ourWorkGallery {
		padding-right: 20px;
		padding-left: 20px;
		.wp-block-image {
		  width: 50%!important;
		  &.wp-block-image-2 img {
			border-top-right-radius: 100px!important;
		  }
		  &.before-last img {
			border-bottom-left-radius: 100px!important;
		  }
		}
		.wp-block-image.blank-image {
		  display: none!important;
		}
	  }
	  .titleDiv {
		position: relative!important;
		top: 15px!important;
		h2.wp-block-heading {
		  font-size: 15vw!important;
		  transform: none;
		  text-align: center;
		}
	  }
	}

	.homeSection4 {
	  &:before {
		display: none;
	  }
	  .titleWrap {
		justify-content: center!important;
		padding: 0 0!important;
	  }
	  .wp-block-columns.solutionsInner {
		gap: 0!important;
		justify-content: space-around;
		.wp-block-column {
		  width: 48% !important;
		  height: 35vw!important;
		  flex-basis: unset!important;
		}
	  }
	}
	.homeSection4 > .wp-block-columns.alignfull {
	  padding: 30px 20px 50px!important;
	}
	.homeSection5 .wp-block-gallery .wp-block-image {
	  width: 33.333%!important;
	}

	.homeSection6 {
	  h3.wp-block-heading {
		right: -18.5vw;
		top: 0;
	  }
	  .wrapper {
		justify-content: center!important;
	  }
	  .contentDiv {
		padding-left: 0!important;
		.innerwrap {
		  min-height: unset!important;
		  border-bottom-left-radius: 100px!important;
		}
	  }
	  .titleOuterDiv {
		padding: 0 0!important;
		position: relative!important;
		left: -10vw;
		.titleDiv {
		  display: block!important;
		  left: 0!important;
		  transform: none!important;
		  position: relative!important;
		  bottom: unset!important;
		}
	  }

	}
  }




