.togglezz {
	display: none;
}
.space-letters {
	letter-spacing: 4px;
}
.activezz {
  display: inline-block;
}
.clear {clear: both;}
.global-wrapper {
	width: 90%;
	margin: 0 auto;
	position: relative;
	@include tab() {
		width: 80%;
	}
}
.padding-home {
	padding: 0 40px !important;
	@include tab() {
		padding: 0;
	}
}
.pretty-pad {
	padding-top: 50px;
}
.site-footer {
	width: 100%;
	clear: both;
	background-color: $gray;
	padding: 20px 0;
	.footer-contents {
		width: 100%;
		@include tab() {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}
		div {
			width: 100%;
			margin-bottom: 20px;
			@include tab() {
				width: auto;
				margin-bottom: 0;
			}
		}
	}
}
nav.footer {
	ul {
		margin: 0;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		padding: 0;
		@include tab() {
			justify-content: flex-end;
		}
	}
	li {
		list-style: none;
		text-transform: uppercase;
		margin: 0 0 0 5px;
	}
	a {
		color: $dark-gray;
		text-decoration: none;
		padding: 10px 5px;
		@include tab() {
			padding: 10px 15px;
		}
	}

}
figure.pretty {
	width: 50%;
	margin-top: 30px;
	margin-bottom: 40px;
}
p.pretty {
	width: 100%;
	margin: 0 auto;
	font-size: 22px;
	@include tab() {
		width: 60%;
	}
}
.fp-extra-pad {
	width: 100%;
	padding-top: 100px !important;
}
p.home-p {
	font-size: 22px;
}
h2.pretty.wp-block-heading {
	@include tab() {padding: 2vh 5vw 1vh 5vw;}
}
a.cta {
	font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.05em;
    padding: 10px 30px 12px 30px;
    border-radius: 200px;
    background-color: $btn-orange;
    color: #fff;
    text-decoration: none;
    transition: all ease .3s;
    &:hover {
    	background-color: $btn-hover;
    	color: $header-blue;
    }
}
.address {
	text-align: left;
}
.pagewrapper {
	width: 100%;
	clear: both;
	padding-top: 110px;
	@include tab() {
		padding-top: 100px;
	}
}
body.single {
	.pagewrapper {
		background-color: $green;
	}
}
body.single-service, body.single-post {
	.pagewrapper {
		background-color: #fff;
	}
}
body.single-post {
	article {
		max-width: 800px;
		padding: 40px;
		margin: 0 auto;
		color: $dark-gray;
		a {
			color: $green;
		}
		h1 {
			width: 100%;
			font-weight: bold;
			position: relative;
			color: $dark-gray;
			&:before {
				display: inline-block;
			    content: "";
			    width: 0;
			    height: 0;
			    border-left: 50px solid $mustard;
			    border-top: 25px solid transparent;
			    border-bottom: 25px solid transparent;
			    position: absolute;
			    top: 20%;
			    left: -100px;
			    transform: translateY(-50%);
			    animation-fill-mode: both;
			    animation-duration: 0.5s;
			    animation-name: homeArrowLeft;
			    z-index: 10;
			}
		}
		h2, h3, h4 {
			color: $header-blue;
		}
	}
}
section.services {
	width: 100%;
	
	@include tab() {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}
	h2 {
		font-size: 5rem;
		color: #fff;
		margin: 0 0 10px 0;
	}
	h3 {
		font-size: 4rem;
		color: #fff;
		margin: 0 0 10px 0;
	}
	.desc {
		font-size: 22px;
		margin-bottom: 40px;
	}

	.cube {
		width: 100%;
		padding: 60px 20px;
		color: #fff;
		&:nth-child(1) {
			background-color: $blue;
		}
		&:nth-child(2) {
			background-color: $header-blue;
		}
		&:nth-child(3) {
			background-color: $blue;
		}
		&:nth-child(4) {
			background-color: $header-blue;
		}
		@include tab() {
			padding: 4vw 4vh;
			width: 50%;
			padding: 8vw 8vh;
			&:nth-child(1) {
				background-color: $blue;
			}
			&:nth-child(2) {
				background-color: $header-blue;
			}
			&:nth-child(4) {
				background-color: $blue;
			}
			&:nth-child(3) {
				background-color: $header-blue;
			}
		}
		.pic {
			width: 100%;
			img {
				width: 100%;
			}
		}
	}
}
.section-title {
	width: 100%;
	padding: 0px 0;
	text-align: center;
	position: relative;
	@include tab() {
		padding: 30px 0;
	}
	@include tab() {
		&:before {
			content: "";
		    display: block;
		    width: 100%;
		    height: 280px;
		    position: absolute;
		    top: 3vw;
		    right: 0;
		    background-image: url(assets/images/decoration/connect.svg);
		    background-size: contain;
		    background-position: right center;
		    background-repeat: no-repeat;
		    transform: scale(-1, -1);
		}
	}
	h2 {
		color: $green;
		font-size: 4rem;
		@include tab() {
			font-size: 6rem;
		}
	}
}
section.service {
	width: 100%;
	color: #fff;
	
	@include tab() {
		// display: flex;
		// flex-direction: row;
		// align-items: stretch;
	}
	.dots {
		width: 200px;
		margin: 20px auto;
		.dot-one { background-color: $yellow; }
		.dot-two { background-color: $green; }
		.dot-three { background-color: $lightyellow; }
		.dot-four { background-color: $blue; }
		.dot-one, .dot-two, .dot-three, .dot-four {
			width: 80px;
			height: 80px;
			border-radius: 50%;
			float: left;
			margin: 10px;
		}
	}
	.intro {
		width: 100%;
		background-color: $header-blue;
		position: relative;
		// border-top-right-radius: 250px;
		padding-top: 50px;
	    padding-right: 2rem;
	    padding-bottom: 10vw;
	    padding-left: 2rem;
	    text-align: left;
	    overflow: hidden;
	    &:before {
		    display: inline-block;
		    content: "";
		    width: 0;
		    height: 0;
		    border-left: 50px solid #FFF;
		    border-top: 25px solid transparent;
		    border-bottom: 25px solid transparent;
		    position: absolute;
		    top: 40%;
		    left: 0;
		    transform: translateY(-50%);
		    animation-fill-mode: both;
		    animation-duration: 0.5s;
		    animation-name: homeArrowLeft;
		    z-index: 10;
		    @include tab() {
		    	border-left: 100px solid #FFF;
		    	border-top: 50px solid transparent;
		    	border-bottom: 50px solid transparent;
		    }
		}
	    @include tab() {
	    	// width: 50%;
	    	padding-top: 10vw;
		    padding-right: 4rem;
		    padding-bottom: 10vw;
		    padding-left: 4rem;
		    // text-align: right;
	    }
	    figure {
	    	float:left;
	    	width: 150px;
	    	margin: 20px 0;
	    	@include tab() {
	    		width: 250px;
	    		float:right;
	    	}
	    	img {
	    		width: 100%;
	    	}
	    }
	    h1 {
	    	float: left;
	    	width: auto;
	    	clear: both;
	    	color: #fff;
	    	font-size: 80px;
	    	margin: 0;
	    	padding-left: 50px;
	    	@include tab() {
	    		font-size: calc(clamp(6.25rem, 5.593vw + 2.664rem, 9.375rem));
	    	}
	    }
	}
	.section-two {
		width: 100%;
		overflow: hidden;
		background-color: #fff;
		
		@include tab() {
			display: flex;
			flex-direction: row;
			align-items: stretch;
			padding-bottom: 30px;
		}
		h2 {
			width: auto;
			position: relative;
			display: inline-block;
			font-weight: 400 !important;
		    font-size: 10vh !important;
		    line-height: 1.2;
		    color: $green;

			strong {
				width: auto;
				display: inline-block;
			    position: relative;
			    border-bottom: 7px solid #6DAF93;
				&:before {
					content: "";
				    display: block;
				    width: 0;
				    height: 0;
				    border-left: 50px solid #db6e35;
				    border-top: 25px solid transparent;
				    border-bottom: 25px solid transparent;
				    position: absolute;
				    left: -100px;
				    top: 20px;
				}
			}
		}
		.left {

			padding: 30px;
			@include tab() {
				width: 50%;
				float: left;
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
			.title {
				display: flex;
				flex-direction: row;
				justify-content: center;
				width: 100%;
			}
		}
		.right {
			background-color: $green;
			padding: 30px;
			font-size: 26px;
			@include tab() {
				width: 50%;
				padding: 150px 10% 150px 80px;
				float: right;
				border-bottom-left-radius: 250px;
			}
		}
	}
	.section-three {
		width: 100%;
		background-color: $baby-blue;
		color: #fff;
		font-size: 26px;
		@include tab() {
			display: flex;
			flex-direction: row;
			align-items: stretch;
		}
		h2 {
			color: #fff;
			font-size: 8vh;
			margin: 20px 0;
		}
		.left {
			width: 100%;
			background-color: $blue;
			padding: 30px;
			@include tab() {
				border-top-right-radius: 250px;
				padding: 150px;
				width: 50%;
			}
		}
		.right {
			width: 100%;
			padding: 30px;
			@include tab() {
				padding: 150px;
				width: 50%;
			}
		}
	}
	.section-four {
		width: 100%;
		background-color: #fff;
		color: #fff;
		font-size: 26px;
		@include tab() {
			display: flex;
			flex-direction: row;
			align-items: stretch;
		}
		h2 {
			color: #fff;
			font-size: 8vh;
			margin: 20px 0;
		}
		.left {
			width: 100%;
			background-color: $header-blue;
			padding: 30px;
			@include tab() {
				border-bottom-right-radius: 250px;
				padding: 150px;
				width: 50%;
			}
			&.alt {
				@include tab() {
					border-top-right-radius: 250px;
					border-bottom-right-radius: 0px;
				}
			}
		}
		.right {
			width: 100%;
			padding: 30px;
			color: $dark-gray;
			@include tab() {
				padding: 150px;
				width: 50%;
			}
			.wrapper {
				width: 100%;
				display: flex;
				flex-direction: column;
			}
		}
	}
	.content {
		width: 100%;
		padding-top: 5vw;
	    padding-right: 2rem;
	    padding-bottom: 5vw;
	    padding-left: 2rem;
	    font-size: 22px;
	    color: $header-blue;
	    background-color: #fff;
	    @include tab() {
	    	// width: 50%;
	    	padding-top: 10vw;
		    padding-right: 4rem;
		    padding-bottom: 10vw;
		    padding-left: 4rem;
	    }
	    h2, h3 {
	    	color: $header-blue;
	    	margin-bottom: 15px;
	    }
	    h2 {
	    	font-size: 4rem;
	    }
	    h3 {
	    	font-size: 3rem;
	    }
	    p {
	    	margin-bottom: 20px;
	    }
	}
}
section.about {
	width: 100%;
	
	@include tab() {
		display: flex;
		flex-direction: row;
	}
	div.left {
		width: 100%;
		padding-top: 5rem;
	    padding-right: 2rem;
	    padding-bottom: 2rem;
	    padding-left: 2rem;
	    text-align: center;
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    @include tab() {
	    	width: 50%;
	    	padding-top: 10rem;
		    padding-right: 5rem;
		    padding-bottom: 10rem;
		    padding-left: 5rem;
	    }
	    figure {
	    	width: 80%;
	    	@include tab() {
	    		width: 50%;
	    	}
	    	img {
	    		width: 100%;
	    	}
	    }
	    h1 {
	    	font-size: 7rem;
	    	text-transform: uppercase;
	    	margin: 0 0 20px 0;
	    	color: $header-blue;
	    }
	}
	div.right {
		width: 100%;
		padding-top: 5rem;
	    padding-right: 2rem;
	    padding-bottom: 10rem;
	    padding-left: 2rem;
	    background-color: $green;
	    border-bottom-left-radius: 250px;
	    color: $header-blue;
	    font-size: 22px;
	    overflow: hidden;
	    @include tab() {
	    	width: 50%;
	    	padding-top: 10rem;
		    padding-right: 5rem;
		    padding-bottom: 10rem;
		    padding-left: 5rem;
	    }
	    h2 {
	    	color: $header-blue;
	    }
	    @include tab() {
			&:before {
				content: "";
			    display: block;
			    width: 100%;
			    height: 280px;
			    position: absolute;
			    top: 3vw;
			    right: 0;
			    background-image: url(assets/images/decoration/connect.svg);
			    background-size: contain;
			    background-position: right center;
			    background-repeat: no-repeat;
			}
		}
	}
}
section.big-form {
	width: 100%;
	padding: 50px;
	background-color: $green;
	.wrapper {
		h1 {
			color: $header-blue;
		}
		@include tab() {
			width: 60%;
			margin: 0 auto;
		}

	}
}
.a-form {
	input.gform_button {
		background-color: $btn-orange;
		color: #fff;
		border-radius: 0;
		border: 0;
		padding: 20px 30px;
		text-transform: uppercase;
	}
	.gform_legacy_markup_wrapper {
		label.gfield_label {
			font-size: 22px;
		}
		ul li.gfield {
			margin-top: 30px;
		}
	}
	input.medium, textarea.medium, input[type=text] {
		padding: 20px !important;
	}
}
.contact-contents {
	iframe {
		margin-top: 30px;
		width: 100%;
	}
	h2 {
		margin: 0 0 20px 0;
	}
	p {
		margin: 0 0 20px 0;
	}
	.c-block {
		width: 100%;
		position: relative;
		margin: 0 0 50px 0;
		float: left;
	}
}
section.faqs {
	width: 100%;
	position: relative;
	// padding-left: 275px;
	@include tab() {
		width: 60%;
		// padding: 100px 0 100px 275px;
		padding-left: 275px;
		margin: 0 auto;
	}
	.faq-title {
		width: auto;
		
		@include tab() {
			padding-right: 100px;
			position: absolute;
			top: 100px;
			left: 0;
			transform: translateY(-25%) rotate(-90deg);
		}
	}
	h2.faqs {
		width: auto;
		position: relative;
		font-size: 8rem;
		color: $gray;
		font-weight: bold;
		&:before {
			content: "";
		    display: inline-block;
		    width: 0;
		    height: 0;
		    border-top: 85px solid #DB6E35;
		    border-left: 40px solid transparent;
		    border-right: 40px solid transparent;
		    position: absolute;
		    top: 50%;
		    left: 220px;
		    -webkit-transform: translateY(-50%);
		    transform: translateY(-50%);
		}
	}
}
.faqrow {
	width: auto;
	overflow: hidden;
	margin: 0 0 20px 0;	
	// background-color: rgba(255,255,255,.05);
	border-radius: 10px;
}
.question {
	width: 100%;
	float:left;
	margin: 10px;
	// font-family: 'Muli', sans-serif;
	font-weight: bold;
	font-size: 24px;
	cursor:pointer;	
	line-height: 1.3;
	position: relative;
	padding: 40px ;
	background-color: $mustard;
	color: #fff;
	font-family: $font_primary;
}
.question-image {
	width: 15px;
	height: 15px;
	position: absolute;
	left: 0px;
	top: 3px;
	background-image: url(images/faq.png);
	background-repeat: no-repeat;
	background-position: 0 0;	
}
.question-image.close {
	background-position: -15px 0;	
}
.answer {
	width: 97%;
	float:left;
	margin: 10px;
	font-family: $font_primary;
	font-size: 22px;
	line-height: 1.3;
	padding: 0 0 0 40px;
	display:none;
	padding: 40px;
	color: $dark-gray;
	background-color: #fff;
	border: 1px solid $mustard;
	@include tab() {
		width: 98%;
	}
}
section.work {
	width: 100%;
	float: left;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	@media screen and (min-width: $tabwidth) {

	}
	@media screen and (min-width: $deskwidth) {

	}
	a.third {
		height: auto;
		overflow: hidden;
		display: block;
		width: 50%;
		position: relative;
		line-height: 0;
		@include tab() {
			width: 33.333%;
		}
		img {
			width: 100%;
		}
		// @media screen and (min-width: $tabwidth) {
		// 	height: 140px;
		// }
		// @media screen and (min-width: $midwidth) {
		// 	height: 200px;
		// }
		// @media screen and (min-width: $deskwidth) {
		// 	height: 280px;
		// }
		// @media screen and (min-width: $largewidth) {
		// 	height: 360px;
		// }
		// @media screen and (min-width: $xlargewidth) {
		// 	height: 400px;
		// }
		// @media screen and (min-width: $xxlargewidth) {
		// 	height: 460px;
		// }
		.cover {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 10;
			img {
				width: 100%;
			}
		}
		.title {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			z-index: 11;
			text-align: center;
			background-color: $header-blue;
			line-height: 1.1;
			@include transition(all ease .3s);
			h2 {
				font-size: 5rem;
				color: #fff;
				margin: 0;
			}
		}
		&:hover {
			.title {
				opacity: 1;
			}
		}
	}
}
section.single-portfolio {
	width: 100%;
	float: left;
	.intro {
		padding: 40px;
		width: 100%;
		float: left;
		.logo {
			width: 250px;
			margin: 20px auto;
			img {
				width: 100%;
			}
		}
		h1 {
			width: 100%;
			text-align: center;
			margin: 50px auto;
			font-size: 5rem;
			display: inline-block;
		}
		.desc {
			width: 100%;
			margin: 0 auto;
			font-size: 22px;
			@include tab() {
				width: 50%;
				max-width: 800px;
			}
		}
		.intro-wrap {
			width: auto;
			margin: 0 auto;
			@include tab() {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				margin-bottom: 50px;
			}
		}
		.left {
			@include tab() {
				padding-right: 70px;
			}
		}
		.right {
			@include tab() {
				padding-left: 70px;
				border-left: 1px solid rgba(#fff, .3);
			}
		}
	}
	.hero {
		width: 100%;
		img {
			width: 100%;
		}
	}
	.blurbs {
		width: 100%;
		padding: 100px 0;
		clear: both;
		@include tab() {
			display: flex;
			flex-direction: row;
			align-items: stretch;
			justify-content: center;
		}
		.color-logo {
			width: 100%;
			padding-top: 20px;
			@include tab() {
				width: 50%;
				padding-top: 0;
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
			.logo {
				width: 250px;
				margin: 0 auto;
				img {
					width: 100%;
				}
			}
		}
		.blurb {
			font-size: 22px;
			padding: 30px;
			@include tab() {
				width: 50%;
			}
		}
	}
	.details {
		width: 100%;
		@include tab() {
			display: flex;
			flex-direction: row;
			align-items: stretch;
		}
		.left, .right {
			width: 100%;
			@include tab() {
				width: 50%;
			}
			img {width: 100%}
		}
		.left {
			@include tab() {
				display: flex;
				flex-direction: column;
			}
		}
		.right {
			@include tab() {
				padding-left: 20px;
			}
		}
		.detail {
			width: 100%;
			img {
				width: 100%;
			}
		}
		.key-features {
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 30px;
			font-size: 22px;
			flex-grow: 1;
			background-color: #eee;
			h2 {
				color: $header-blue;
			}
			@include tab() {
				margin-top: 20px;
				padding: 50px;
			}
		}
	}
	.colors {
		width: 100%;
		@include tab() {
			display: flex;
			flex-direction: row;
			align-items: stretch;
			justify-content: center;
		}
		.left, .right {
			width: 100%;
			padding: 30px; 
			@include tab() {
				width: 50%;
			}
		}
		.left {
			display: flex;
			flex-direction: column;
			justify-content: center;
			font-size: 22px;
			@include tab() {
				padding: 50px;
			}
		}
		.right {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			.color {
				width: 100px;
				height: 100px;
				border-radius: 50%;
				margin: 20px;
				@include tab() {
					width: 200px;
					height: 200px;
				}
			}
		}
	}
	.detail-photos {
		width: 100%;
		@include tab() {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}
		.photo {
			width: 100%;
			padding: 10px;
			@include tab() {
				width: 50%;
				
			}
			img {
				width: 100%;
			}
		}
	}
}
section.news {
	width: 100%;
	background-color: $green;
	@include tab() {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
	}
	.left {
		width: 100%;
		@include tab() {
			width: 50%;
		}
	}
	.right {
		width: 100%;
		padding: 30px 0;
		@include tab() {
			width: 50%;
		}
	}
	.post {
		width: 100%;
		background-color: rgba(#fff, .5);
		margin-bottom: 30px;
		overflow: hidden;
		a {
			display: block;
			text-decoration: none;
			@include tab() {
				display: flex;
				flex-direction: row;
			}
			&:hover {
				
			}
		}
		@include tab() {
			// width: 28%;
		}
		.img {
			width: 25%;
			line-height: 0;
			float: left;
			@include tab() {
				width: 150px;
			}
			img {
				width: 100%;
				height: auto;
			}
		}
		.desc {
			width: 75%;
			padding: 10px;
			text-align: left;
			float: left;
			color: $header-blue;
			letter-spacing: 1px;
			@include tab() {
				flex-grow: 1;
				display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 0 0 0 30px;
			}
			h2 {
				font-size: 1.5rem;
				margin: 0;
				@include tab() {
					font-size: 2rem;
				}
			}
		}
	}
}
.navigation {
	ul {
		padding: 0;
		margin: 0;
	}
	li {
		display: inline-block;
		list-style: none;
		margin: 10px;
	}
	a {
		width: 75px;
		height: 75px;
		border-radius: 50%;
		background-color: rgba(#fff, .5);
		display: block;
		line-height: 75px;
		text-align: center;
		text-decoration: none;
		font-size: 2rem;
		transition: all ease .3s;
		color: $green;
		&:hover, &.active {
			background-color: rgba(#fff, 1);
		}
	}
}
