@font-face {
    font-family: 'Trump Gothic Pro';
    src: url('assets/fonts/trump-gothic/TrumpGothicPro-Bold.eot');
    src: local('Trump Gothic Pro Bold'), local('TrumpGothicPro-Bold'),
        url('assets/fonts/trump-gothic/TrumpGothicPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/trump-gothic/TrumpGothicPro-Bold.woff2') format('woff2'),
        url('assets/fonts/trump-gothic/TrumpGothicPro-Bold.woff') format('woff'),
        url('assets/fonts/trump-gothic/TrumpGothicPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Trump Gothic Pro';
    src: url('assets/fonts/trump-gothic/TrumpGothicPro-Medium.eot');
    src: local('Trump Gothic Pro Medium'), local('TrumpGothicPro-Medium'),
        url('assets/fonts/trump-gothic/TrumpGothicPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/trump-gothic/TrumpGothicPro-Medium.woff2') format('woff2'),
        url('assets/fonts/trump-gothic/TrumpGothicPro-Medium.woff') format('woff'),
        url('assets/fonts/trump-gothic/TrumpGothicPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Trump Gothic Pro';
    src: url('assets/fonts/trump-gothic/TrumpGothicPro-MediumIt.eot');
    src: local('Trump Gothic Pro Medium Italic'), local('TrumpGothicPro-MediumIt'),
        url('assets/fonts/trump-gothic/TrumpGothicPro-MediumIt.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/trump-gothic/TrumpGothicPro-MediumIt.woff2') format('woff2'),
        url('assets/fonts/trump-gothic/TrumpGothicPro-MediumIt.woff') format('woff'),
        url('assets/fonts/trump-gothic/TrumpGothicPro-MediumIt.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Trump Gothic Pro';
    src: url('assets/fonts/trump-gothic/TrumpGothicPro-BoldItalic.eot');
    src: local('Trump Gothic Pro Bold Italic'), local('TrumpGothicPro-BoldItalic'),
        url('assets/fonts/trump-gothic/TrumpGothicPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/trump-gothic/TrumpGothicPro-BoldItalic.woff2') format('woff2'),
        url('assets/fonts/trump-gothic/TrumpGothicPro-BoldItalic.woff') format('woff'),
        url('assets/fonts/trump-gothic/TrumpGothicPro-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Trump Gothic Pro';
    src: url('assets/fonts/trump-gothic/TrumpGothicPro-Italic.eot');
    src: local('Trump Gothic Pro Italic'), local('TrumpGothicPro-Italic'),
        url('assets/fonts/trump-gothic/TrumpGothicPro-Italic.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/trump-gothic/TrumpGothicPro-Italic.woff2') format('woff2'),
        url('assets/fonts/trump-gothic/TrumpGothicPro-Italic.woff') format('woff'),
        url('assets/fonts/trump-gothic/TrumpGothicPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Trump Gothic Pro';
    src: url('assets/fonts/trump-gothic/TrumpGothicPro.eot');
    src: local('Trump Gothic Pro'), local('TrumpGothicPro'),
        url('assets/fonts/trump-gothic/TrumpGothicPro.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/trump-gothic/TrumpGothicPro.woff2') format('woff2'),
        url('assets/fonts/trump-gothic/TrumpGothicPro.woff') format('woff'),
        url('assets/fonts/trump-gothic/TrumpGothicPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

